<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/world.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <!--div class="row"-->
      <div class="col-lg-6 col-md-10">
        <h1 class="display-2 text-white">Configuration</h1>
        <p class="text-white mt-0 mb-5">This is the configurations migrations page.</p>
        <!--div class="row">
          <div class="col-lg-6 col-md-10">
            <a class="btn btn-info" (click)="getConfiguration()">Get Configuration</a>
          </div>
          <div class="col-lg-6 col-md-10">
            <a class="btn btn-info">Update Configuration</a>
          </div>
        </div-->
      </div>
    <!--/div-->
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Configuration</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#/tables" class="btn btn-sm btn-primary">Devices</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #deviceForm="ngForm" (ngSubmit)="getConfiguration(deviceForm)">
            <h6 class="heading-small text-muted mb-4">Devices information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Device 1</label>
                    <select class="form-control" id="device1" name="device1" [(ngModel)]="device1">
                      <option  *ngFor="let d of devices" [ngValue] = "d" >{{d.ip}}</option>
                    </select>
                    <!--input type="text" id="d1" class="form-control form-control-alternative" placeholder="Name"-->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Device 2</label>
                    <select class="form-control" id="device2" name="device2"  [(ngModel)]="device2">
                      <option  *ngFor="let d of devices" [ngValue] = "d" >{{d.ip}}</option>
                    </select>
                    <!--input type="text" id="d2" class="form-control form-control-alternative" placeholder="Name"-->
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-info" >Get Configuration</button>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
            <!-- Description -->
          <form>
            <h6 class="heading-small text-muted mb-4">Configuration</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Migration to Device 2</label>
                <textarea rows="15" class="form-control form-control-alternative"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
