<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="container-fluid d-flex align-items-center">

        <div class="row">

          <div class="col-lg-12 col-md-10">
            <h1 class="display-2 text-white">Devices</h1>
            <p class="text-white mt-0 mb-5">This is the devices information page.</p>
          </div>

          <ng-template #content let-modal>

            <div class="modal-header">
              <h2 class="modal-title" id="modal-basic-title">Device</h2>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form #deviceForm="ngForm" (ngSubmit)="onSubmit(deviceForm)">
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="deviceService.selectedDevice.$key">
                <div class="form-group">
                  <label for="name">Name</label>
                  <div class="input-group">
                    <input id="name" class="form-control" type="text" placeholder="device" name="name" #name="ngModel" [(ngModel)]="deviceService.selectedDevice.name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="ip">Ip</label>
                  <div class="input-group">
                    <input id="ip" class="form-control" type="text" placeholder="ip" name="ip" #ip="ngModel" [(ngModel)]="deviceService.selectedDevice.ip">
                  </div>
                </div>
                <div class="form-group">
                  <label for="os">Operating System</label>
                  <div class="input-group">
                    <input id="os" class="form-control" type="text" placeholder="Operating System" name="os" #os="ngModel" [(ngModel)]="deviceService.selectedDevice.os">
                  </div>
                </div>
                <div class="form-group">
                  <label for="model">Model</label>
                  <div class="input-group">
                    <input id="model" class="form-control" type="text" placeholder="Model" name="model" #model="ngModel" [(ngModel)]="deviceService.selectedDevice.model">
                  </div>
                </div>
                <div class="form-group">
                  <label for="protocol">Protocol</label>
                    <select id="protocol" class="form-control" placeholder="Protocol" name="protocol" #protocol="ngModel" [(ngModel)]="deviceService.selectedDevice.protocol">
                      <option  *ngFor="let d of protocolos" [ngValue] = "d.value" >{{d.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="encryp">Encryption</label>
                  <div class="input-group">
                    <input id="encryp" class="form-control" type="text" placeholder="Encryption" name="encryp" #encryp="ngModel" [(ngModel)]="deviceService.selectedDevice.encryp">
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div class="form-group">
                <button type="submit" class="btn btn-outline-dark" (click)="onSubmit(deviceForm)" >Save</button>
              </div>
            </div>

          </ng-template>

          <button class="btn btn-info " (click)="open(content)">Add</button>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">

        <div class="card-header border-0">
          <h3 class="mb-0">Inventory</h3>
        </div>
        <ngb-alert [type]="alert.type"  [dismissible]="false" [hidden]="alertstatus">{{ alert.message }}</ngb-alert>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th style="text-align:center" scope="col"></th>
                <th style="text-align:center" scope="col">Name</th>
                <th style="text-align:center" scope="col">Operating System</th>
                <th style="text-align:center" scope="col">Model</th>
                <th style="text-align:center" scope="col">Protocol</th>
                <th style="text-align:center" scope="col">Encryption</th>
                <th style="text-align:center" scope="col">IP Address</th>
                <th style="text-align:center" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of devices; index as i">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ i + 1 }}</span>
                    </div>
                  </div>
                </th>
                <td style="text-align:center">{{ d.name }}</td>
                <td style="text-align:center">{{ d.os }}</td>
                <td style="text-align:center">{{ d.model }}</td>
                <td style="text-align:center">{{ d.protocol }}</td>
                <td style="text-align:center">{{ d.encryp }}</td>
                <td style="text-align:center">{{ d.ip }}</td>
                <td>
                  <a class="btn btn-primary text-white" (click)="openEdit(content,d)">
                      <i class="far fa-edit"></i>
                  </a>
                  <a class="btn btn-danger text-white" (click)="onDelete(d.$key)">
                      <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">

              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>

              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>

            </ul>
          </nav>
        </div-->

      </div>
    </div>
  </div>

</div>
